**/.DS_Store

# Secrets
**/*.hide
secrets

web/elm-stuff/*

# Vim
*.swp
**/*.idea

# Build
browsify
browsify.exe

# Environment specific files
browsify.conf
deploy.sh

# dependencies
web/node_modules

# testing
web/coverage

# production
web/build

# misc
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

