html, body {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Landing {
  /* height: 100%; */
  /* padding: 0; */
  /* margin: 0; */
}

.Landing-logo {
  height: 350px;
}

.Landing-intro {
  color: white;
  font-size: large;
}

.Landing-bundle {
  z-index: 10;
}

.Landing-stripe {
  height: 250px;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 11;
}

